$bgcolour: #000000;
$navcolour: #1a1a1a;

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $bgcolour;
}

.nav {
    background-color: $navcolour;
    width: 100%;
}

.menu {
    display: inline;
}

a:link, a:visited, a:active {
    color: #FFFFFF;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

a:hover {
    color: #ffc400;
}

.footer {
    color: #FFFFFF;
    background-color: #1a1a1a;
    font-size: 0.8em;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-areas:
    "area1 area1"
    "area2 area3";
    grid-template-columns: 50% 50%; 
    grid-template-rows: 70% 30%;
    justify-items: end;
}

.area1 {
    grid-area: area1;
}

.area2 {
    grid-area: area2;
}
     
.area3 {
    grid-area: area3;     
}